BasedOnStyle: Chromium
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: false
    AfterStruct: false
Cpp11BracedListStyle: false
IndentWidth: 8
UseTab: ForContinuationAndIndentation
PointerAlignment: Right
AllowAllParametersOfDeclarationOnNextLine: true
